#wrapper {
    margin: 0px;
}

#main {
    width: auto;
}

.row-gaming{
    width: 300px;
    max-height: 588px;
    min-height: 588px;
    padding: 8px;
}

#categories{
    margin-top: -24px;
    padding: 0px;
}

.cat-item {   
    border-radius: 0px !important;
}

#categoriesItem{
    background-color: rgb(230, 230, 230);
}
